<section class="automation">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 left">
                <h2>Work smarter with powerful automation</h2>
                <p>Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus
                    and egestas sapien egestas vitae nemo volute</p>
                <div style="height: 40px;" class="empty-space"></div>
                <div class="automation-wrap">
                    <div class="automation-item my-5 d-flex">
                        <i class="fa-solid fa-umbrella"></i>
                        <div class="ms-3">
                            <h5>Send Group Messages</h5>
                            <p>to your lists of contacts</p>
                        </div>
                    </div>
                    <div class="automation-item my-3 d-flex">
                        <i class="fa-solid fa-mug-hot"></i>
                        <div class="ms-3">
                            <h5>Send Group Messages</h5>
                            <p>to your lists of contacts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right">
                <img src="../public/imgs/automation.png" alt="">
            </div>
        </div>
    </div>
</section>