<footer>
    <div class="footer-wrap">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget-item-has-img">
                        <img src="/public/imgs/logo.png" alt="">
                        <p>Aliquam nullam tempor sapien donec and gravida congue an ipsum porta justo velna auctor magna and laoreet augue an auctor gravida donec</p>
                        <div class="empty-space"></div>
                    </div>
                    <div class="col-md-2 widget-item">
                        <h6 class="widget-title">Company</h6>
                        <ul class="widget-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Press & Media</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 widget-item">
                        <h6 class="widget-title">Discover</h6>
                        <ul class="widget-list">
                            <li><a href="#">Our Blog</a></li>
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Plans & Pricing</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 widget-item">
                        <h6 class="widget-title">Legal</h6>
                        <ul class="widget-list">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 widget-item">
                        <h6 class="widget-title">Support</h6>
                        <ul class="widget-list">
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Editor Help</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Live Chatting</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row ">
                    <div class="left col-md-6">© 2014 - 2023 OLMO JOOMLA. All Rights Reserved by CODELAYERS</div>
                    <div class="right col-md-6">
                        <ul class="footer-copyright-list d-flex">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a id="button" class="show"></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/backToTop.js"></script>
<script src="/public/js/stickyHeader.js"></script>





