<section class="banner make-simpler">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 left">
                <!-- <img src="https://olmo.codelayers.net/images/2021/09/14/hero-1-img.png" alt=""> -->
                <!-- <img src="./public/imgs/banner.png" alt=""> -->
            <img src="../public/imgs/img-10.png" alt=""> </div>
            <div class="col-md-6 right">
                <h2 class="text-white">Make it simpler with Quick Commands</h2>
                <ul>
                    <li>Fringilla risus, luctus mauris orci auctor euismod iaculis luctus magna purus pretium ligula purus undo quaerat
                        tempor sapien rutrum mauris quaerat ultrice</li>
                    <li>Quaerat sodales sapien euismod purus blandit</li>
                    <li>Nemo ipsam egestas volute turpis dolores undo ultrice aliquam quaerat at sodales sapien purus</li>
                </ul>
            </div>
        </div>
    </div>
</section>